body {
    text-align: center;
    margin: 0;
    height: 10000px;
}

nav {
    padding: 20px 0px;
    border: solid #00543c;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: darkseagreen;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 2%;
}

nav a {
    padding: 25px 10px;
    margin-left: 15px;
}

#header {
    padding: 0px;
    background-color: #333;
    margin: 0 auto;
    padding: 1px 0px;
    overflow: hidden;
}

#Title {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 65%;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}


th, td {
    border: 1px solid black;
}

tr {
    background-color: grey;
    color: white;
}

tr:nth-child(2n) {
    background-color: darkgrey;
    color: black;
}

a {
    text-decoration: none;
    color: indianred;
    transition: ease;
    transition-duration: 0.35s;
    padding: 2px;
}

a:hover {
    color: royalblue;
}

.kauri {
    color: red;
}

.pohutukawa {
    color: orange;
}

.totara {
    color: yellow;
}

.rimu {
    color: green;
}

.nikau {
    color: blue;
}

.matai {
    color: purple;
}

td a {
    font-weight: bold;
}

li {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

aside {
    color: #911;
    background-color: lightpink;
    border-radius: 0.25rem;
    max-width: 16rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    animation: fade-out 3s 10s both;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.pfp_img {
    border: dashed;
    border-radius: 20px;
}

.boxy {
    border: groove;
    border-radius: 5px;
    padding: 2px;
    color: black;
    background-color: darkgrey;
    margin: auto;
    width: 20%;
    padding: 20px;
    font-size: ;
}

.woop {
    display: flex;
    height: 100%;
    background-color: blue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}