{% extends '_layout.html' %}

{% block title %}Branchout{% endblock %}

{% block content %}
<div class="boxy">
    <form method="post">
        <label for="email" title="Email">Emalil:</label>
        <br />
        <input id="email" name="email" type="email">
        <br>
        <br />
        <label for="password" title="Password">Restrict puncuation:</label>
        <br />
        <input id="password" name="password" type="password">
        <br>
        <br>
        <button type="submit" title="Login">
            <p>log<sup>-1</sup>(in)</p>
        </button>
    </form>
</div>
{% endblock %}