{% extends '_layout.html' %}

{% block title %}Spy on this entity{% endblock %}

{% block content %}

    <h1>{{ result.last_name }},</h1><h2> {{ result.first_name }}</h2>

    <br>

    <p><a href="mailto:{{ result.email }}">{{ result.email }}</a></p>

    <img class="pfp_img" src="{{ url_for('static', filename='images/' + (result.avatar or 'default.png')) }}" height="200">

    <p>
        <a href="/edit?id={{ result.id }}">Morph</a>
        <br>
        <a href="/delete?id={{ result.id }}" onclick="return confirm('?')">Evaporate</a>
    </p>
    <p>
        <a href="{{ url_for('list_users') }}">Deja Vu!</a>
    </p>

{% endblock %}